<h1>Listing feeds</h1>

<table>
  <tr>
    <th>User</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.user_id %></td>
    <td><%= feed.post %></td>
    <td><%= link_to 'Show', feed %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feed', new_feed_path %>


<div ng-app='usermsg' class='container' id='main'>

	<div id="AngularCtrl" ng-controller="UserListCtrl" class='row'>
		
		<div class='span4'>
			<div class='well sidebar-nav' id='users'>
				<ul class='nav nav-list' id='user-list'>
					<li class='nav-header'>
						Codebrahma News Feed
					</li>
					<li class='active'>
						<a href='#users'> <i class='icon-inbox'></i> My Feed </a>
					</li>
					<li class='nav-header'>
						Users
						(
						<span id='num-users'>{{users.length}}</span>
						)
					</li>
				</ul>
				<ng:include src="'<%= asset_path("user-list.html") %>'"></ng:include>
				
			</div>
		</div>
		<div class='span8' id='messages'>
			<div ng-view></div>
		</div>
	</div>

	
</div>
